@import "../../common/util.less";

.main {
  position: relative;
  box-sizing: border-box;
  width: 560px;
  height: 428px;
  text-align: center;
  .background("apply-modal-bg.png");
}

.desc {
  padding: 110px 32px 0;
  margin: auto;
  .font(32px, 56px, #3722d7, 500, center);

  &_has {
    margin-bottom: 74px;
  }

  &_no {
    margin-bottom: 74px;
  }
}

.bottom {
  margin: auto 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_item {
    width: 208px;
    height: 82px;
  }

  &_apply_now {
    .background("apply-now-btn.png");
  }

  &_retry_record {
    .background("retry-record-btn.png");
  }

  &_record_now {
    .background("record-now-btn.png");
  }

  &_think_again {
    .background("think-again-btn.png");
  }
}

.close_icon {
  position: absolute;
  left: 50%;
  top: 500px;
  margin-left: -42px;
  width: 64px;
  height: 64px;
  .background("close.png");
}
