html,
body {
  background: #5a22be;
  overflow: hidden;
  height: 100vh;
}

.main {
  position: relative;
  height: 100vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.img {
  width: 200px;
  height: 200px;
}
