@import '../../common/util.less';

.main {
  position: relative;
  width: 351px;
  margin: 0 auto 30px;
  .background('apply-content-bg.png');
  overflow: hidden;
  box-sizing: border-box;

  &_content {
    margin: 60px 18px 24px 12px;
  }
}

.text {
  padding-left: 13px;
  .font(12px, 22px, #3b24be, 400, justify);

  &_indent {
    text-indent: 10px;
  }
}

.desc {
  padding-left: 13px;
  display: flex;
  margin-bottom: 2px;

  &_label {
    width: 67px;
    .font(13px, 22px, #3621f1, 500, justify);
  }

  &_content {
    flex: 1;
    .font(13px, 22px, #3b24be, 400, justify);
  }
}

.img {
  width: auto;
  height: 25px;
  margin-top: 14px;

  &:first-of-type {
    margin-top: 0;
  }
}

.bottom {
  &_audit {
    width: 127px;
    height: 23px;
    margin: 23px auto 0;
    .background('apply-auditing.png');
  }

  &_success {
    margin: auto;
    width: 140px;
    height: 23px;
    margin: 23px auto 0;
    .background('apply-success.png');
  }

  &_apply {
    width: 256px;
    height: 52px;
    margin: 16px auto 0;
    .background('apply-submit.png');

    &:active {
      opacity: 0.75;
    }
  }
}
