.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@font-face {
  font-family: KOMET;
  // font-style: italic;
  // font-weight: bold;
  src: url('~resources/fonts/KometPro-HeavyItalic.ttf');
}
@font-face {
  font-family: DIN-Num-Medium;
  src: url(~resources/fonts/DIN-Num-Medium.ttf);
}
@font-face {
  font-family: DIN-Num-Bold;
  src: url(~resources/fonts/DIN-Num-Bold.ttf);
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Komet Pro Heavy Italic';
  src: url('//m4a.yingtaorelian.com/MTU3MDY5Njc1MzMwMSM4OTAjb3Rm.otf');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'DIN Condensed Bold';
  src: url('//m4a.yingtaorelian.com/MTU3MDY5NTU1MjU4OSM4MTYjdHRm.ttf');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'AlibabaPuHuiTi_2_115_Black';
  src: url(https://webfonts.oss-cn-beijing.aliyuncs.com/AlibabaPuHuiTi2/AlibabaPuHuiTi-2-115-Black.ttf);
}
@font-face {
  font-family: DIN-BlackItalic;
  src: url(~resources/fonts/DIN-BlackItalic.otf);
}
