.statusBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px; /* 原设计8px*2 12px*2 */
  box-sizing: border-box;
  background: #FFFFFF;
  height: 44px; /* 原设计20px*2 */

  .time {
    font-size: 28px; /* 原设计14px*2 */
    font-weight: 600;
    color: #333333;
  }

  .icons {
    display: flex;
    gap: 16px; /* 原设计8px*2 */
  }

  .icon {
    width: 32px; /* 原设计16px*2 */
    height: 32px; /* 原设计16px*2 */
  }
}