@import '../../common/util.less';

.main {
  position: relative;
  box-sizing: border-box;
  width: 280px;
  height: 214px;
  text-align: center;
  .background('apply-modal-bg.png');
}

.desc {
  padding: 55px 16px 0;
  margin: auto;
  .font(16px, 28px, #3722d7, 500, center);

  &_has {
    margin-bottom: 37px;
  }

  &_no {
    margin-bottom: 37px;
  }
}

.bottom {
  margin: auto 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_item {
    width: 104px;
    height: 41px;
  }

  &_apply_now {
    .background('apply-now-btn.png');
  }

  &_retry_record {
    .background('retry-record-btn.png');
  }

  &_record_now {
    .background('record-now-btn.png');
  }

  &_think_again {
    .background('think-again-btn.png');
  }
}

.close_icon {
  position: absolute;
  left: 50%;
  top: 250px;
  margin-left: -21px;
  width: 32px;
  height: 32px;
  .background('close.png');
}
